/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
  @apply rounded bg-white border-gray-200 shadow-md overflow-hidden relative;
}

.badge{
  @apply absolute top-0 ml-2 p-2 mt-2 bg-secondary-100 text-secondary-200 text-xs uppercase font-bold rounded-full;
} */

/* GRID */

body {
  color: #fff;
  font-family: "Nunito Semibold";
  text-align: center;
}
#content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(150px, auto);
  max-width: 960px;
  margin: 0 auto;
}
#content > * {
  padding: 10px;
}
header {
  grid-column: span 3;
  background: #3bbced;
}
main {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  background: #e82b69;
}
aside {
  grid-column: 1 / 2;
  background: #fac24a;
}
nav {
  grid-column: 1 / 2;
  background: #8ae348;
}
footer {
  grid-column: span 3;
  background: #a56dda;
}
